* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #F8FCFF;
}

.container {
    max-width: 1440px;
    width: 100%;
    padding: 0 100px 0 140px;
    margin: 0 auto;
}