.header {
    &__item_top {
        display: flex;
        align-items: center;


        &_left {
            position: relative;
           
            &_bg {
                border-radius: 50%;
                opacity: 0.5;
                background: #219EE4;
                filter: blur(110px);
                width: 120%;
                height: 65%;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                

            }

            .header-text {
                color: #535354;
                font-size: 18px;
                font-weight: 400;
                line-height: 30px;
                letter-spacing: 0.18px;
                max-width: 280px;
                margin: 48px 0 40px;
            }

            .button {
                display: flex;
                align-items: center;
                color: #222223;
                font-size: 19px;
                font-weight: 500;
                line-height: 19px;
                cursor: pointer;

                button {
                    width: 50px;
                    height: 50px;
                    background: #000;
                    margin-right: 18px;
                    color: #fff;
                    font-size: 22px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                   
                }
            }
        }

        &_right {
            cursor: pointer;
            img {
                width: 100%;
            }
        }


    }

    &__item_bottom {
        display: flex;
        justify-content: space-between;

        div {
            width: 190px;
        }

        div:first-child {
            width: 222px;
        }

        .first {
            font-size: 35px;
            font-family: 'Bai Jamjuree';
            display: block;
        }

        .text {
            display: block;
            font-size: 16px;
            font-weight: 400;
            color: #5F5F64;
            line-height: 26px;
            letter-spacing: 0.16px;

        }

        .second {
            display: block;
            font-size: 20px;
            color: #17181A;
            font-weight: 700;
            line-height: 28px;
            letter-spacing: 0.2px;
            margin-top: 30px;
        }
    }
}